[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "lrcpp"]
	path = lrcpp
	url = https://github.com/jbreitweiser/lrcpp.git
[submodule "libcpuid"]
	path = libcpuid
	url = https://github.com/anrieff/libcpuid.git
